%h1 Cecil & Co

= link_to 'Shop', spree_path

= link_to 'http://www.facebook.com' do
  = image_tag ''
  Facebook
= link_to 'http://www.etsy.com' do
  = image_tag ''
  Etsy
= link_to 'http://www.twitter.com' do
  = image_tag ''
  Twitter
