%h1 Cecil & Co

= link_to 'Shop', spree_path

= link_to 'http://www.facebook.com' do
  .social_overlay
    = image_tag 'facebook-icon.png', class: 'social-icon'
= link_to 'http://www.etsy.com' do
  .social_overlay
    = image_tag 'etsy-icon.png', class: 'social-icon'
