.row
  .small-12.columns.hide-for-small
    %img{src: "#{ENV['CDN_URL']}webheader.jpg"}
  .small-12.columns.show-for-small.center
    %img{src: "#{ENV['CDN_URL']}webheader.jpg"}
  .small-12.columns
    %nav
      %ul
        %li= link_to 'Shop', spree_path
    %ul{style: 'margin-bottom: 50px;', data: {'orbit' => ''}}
      %li
        = link_to spree_path do
          = image_tag 'LandingCarousel1.png', style: 'min-height: 200px;'
      %li
        = link_to spree_path do
          = image_tag 'LandingCarousel2.png', style: 'min-height: 200px;'
      %li
        = link_to spree_path do
          = image_tag 'LandingCarousel3.jpg', style: 'min-height: 200px;'
      %li
        = link_to spree_path do
          = image_tag 'LandingCarousel4.jpg', style: 'min-height: 200px;'
    %h1.center{style: 'font-family: Georgia; color: black;'}
      Heirloom Quality Handbags and Accessories
    %footer
      .social
        = link_to 'http://www.facebook.com/CecilandCo ' do
          %i.fi-social-facebook{style: 'font-size: 36px;'}
        = link_to 'http://cecilandco.blogspot.com/' do
          %i.fi-social-blogger{style: 'font-size: 36px;'}

- content_for :javascript do
  :coffee
    $(document).foundation
      orbit:
        animation: 'slide'
        timer_speed: 3000
        pause_on_hover: false
        animation_speed: 1000
        navigation_arrows: true
        bullets: false
        next_on_click: true
